
@{
    ViewBag.Title = "Index";
}


<h1>
        <table style="width: 100%; border: #999999 2px solid; ">
            <tr>
                <td>
                    <em>
                        <font color="blue">
                            <img src="~/Content/images/19549543_a30izlr1g6_W665.jpg" />
                        </font>
                    </em>
                </td>
            
                <td>
                    <em>
                        <font color="blue">
                             
                            <li>@Html.ActionLink("Обслуживание - ППР", "MaintenaceIndex", "Home")</li>
                            <li>@Html.ActionLink("Ремонтные работы", "MaintenaceIndex", "Home")</li>
                            <li>@Html.ActionLink("Документы и отчеты", "Index", "ReportsSummary")</li>
                            <li>@Html.ActionLink("Онлайн визирование", "Index", "RealTimeViewer")</li>
                            <li>@Html.ActionLink("Статистика", "MaintenaceIndex", "Home")</li>
                            
                         </font>
                    </em>
                </td>
</table>
</h1>