@{
    ViewBag.Title = "Home Page";
}

<div id="tabs">

    <ul>
        

        @if (ViewBag.AccessType == "Administrator" || ViewBag.AccessType == "Chef")
        {
            <li><a href="#tabs-1">Регламентные работы</a></li>
            <li><a href="#tabs-2">На утверждение</a></li>
            <li><a href="#tabs-3">Формировать задание</a></li>
            <li><a href="#tabs-4">Отчеты</a></li>
}
else
{
            <li><a href="#tabs-2">Дополнительно</a></li>
            <li><a href="#tabs-3">Отчеты</a></li>
}




    </ul>



    <div id="tabs-1">
        <li>@Html.ActionLink("Показать список предстоящих регламентных работ на ближайшие 7 дней", "Index", "MaintenacePreviewer")</li>
        <li>@Html.ActionLink("Создать отчет по выполненной  регламентной работе", "Create", "PerformMaintenanceReports")</li>
        <li>@Html.ActionLink("Показать список выполненных регламентных работ (не утвержденных)", "Index", "PerformMaintenanceReports")</li>
    </div>


    @if (ViewBag.AccessType == "Administrator" || ViewBag.AccessType == "Chef")
    {
        <div id="tabs-2">
            <li>@Html.ActionLink("Утведить регулярные регламентные работы", "ConfirmRegular", "MaintenacesObjects")</li>
            <li>@Html.ActionLink("Утведить разовые работы", "ConfirmOnce", "MaintenacesObjects")</li>
            <li>@Html.ActionLink("Утвердить список выполненных регламентных работ", "Index", "ConfirmPerformMaintenance")</li>
        </div>

        <div id="tabs-3">
            <li>@Html.ActionLink("Формировать разовое задание на сервисную работу", "Create", "MaintenacesSpecial")</li>
        </div>

        <div id="tabs-4">
            <li>@Html.ActionLink("Черновик отчета", "Index", "PerformNoteRepairs")</li>
            <li>@Html.ActionLink("Отчет о работе", "Index", "ComplitedRepairReports")</li>
        </div>
}
else
{
        <div id="tabs-2">
            <li>@Html.ActionLink("Формировать разовое задание на сервисную работу", "Create", "MaintenacesSpecial")</li>
        </div>

        <div id="tabs-3">
            <li>@Html.ActionLink("Черновик отчета", "Index", "PerformNoteRepairs")</li>
            <li>@Html.ActionLink("Отчет о работе", "Index", "ComplitedRepairReports")</li>
        </div>
}



</div>


<script type="text/javascript">

            $(function () {
                $("#tabs").tabs();
            });
</script>





