@model IEnumerable<ProfHolodSite.Models.ComplitedRepairReport>

@{
    ViewBag.Title = "Index";
}

<h2>Отчет о работе</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MachineObject.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaintenaceAction.Caption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfFault.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCompleted)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MachineObject.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaintenaceAction.Caption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfFault.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimeStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimeEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCompleted)
        </td>
        
        @if (ViewBag.AccessType == "Administrator" || ((ViewBag.CurrentUser == item.CreateUserName)))
        {
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        }
    </tr>
}

</table>
