@model IEnumerable<ProfHolodSite.Models.MaintenacesObject>

@{
    ViewBag.Title = "ConfirmOnce";
}

<h2>Утвердить разовую работу ( @Model.Count() )</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MachineObject.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaintenaceAction.Caption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaintenaceState.Name)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.DateStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MachineObject.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaintenaceAction.Caption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaintenaceState.Name)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.DateStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            @if (ViewBag.AccessType == "Administrator" || ViewBag.AccessType == "Chef")
            {
                <td>
                    @Html.ActionLink("Утвердить", "ConfirmRegularTrue", new { id = item.Id })
                </td>
            }
        </tr>
    }

</table>


